@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  font-family: "Ubuntu";
  color: #f2f2f2;

  background-color: rgba(0, 0, 0, 0.99);
}

.background-video {
  max-width: 100%;
  max-height: 80%;

  position: absolute;

  opacity: 0.01;

  z-index: -1;

  filter: grayscale();
}

main {
  width: 100%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: min-content;
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 82px;

  margin-bottom: 25px;
}

.container a {
  text-decoration: none;

  color: #f2f2f2;

  padding: 1px 0;

  background-color: rgb(34, 26, 26);

  transition: 0.6s;
}

.container a:visited {
  color: #f2f2f2;
}

.container a:hover {
  background-color: #f2f2f2;

  color: rgb(34, 26, 26);
}

.msg-feedback {
  display: none;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 800;

  margin-top: 20px;
}

.msg-validate {
  color: #058a12;
}

.msg-erro {
  color: #bb1f24;
}

.msg-validate:before {
  content: "✔";

  color: #033308;

  padding: 1.5px 2.5px;

  font-size: 10px;

  background-color: #058a12;
  border: 1.5px solid #058a12;
  border-radius: 3px;

  margin-right: 6px;
}

.msg-erro:before {
  content: "❌";

  padding: 4px;

  font-size: 5px;

  background-color: #bb1f24;
  border: 1.5px solid #bb1f24;
  border-radius: 3px;

  margin-right: 6px;
}

input[type="text"] {
  width: 100%;
  height: 68px;

  outline: none;

  font-family: "Ubuntu";
  font-size: 35px;
  font-weight: 800;

  letter-spacing: 2px;

  color: #f2f2f2;

  background-color: transparent;

  border: 1.5px solid #f2f2f2;

  padding: 0 10px;

  margin-top: 25px;
}

footer {
  height: 10%;
}

footer p {
  color: rgb(15, 14, 14);

  font-size: 10px;
  font-weight: 800;

  text-align: center;

  margin-bottom: 8px;
}

.author {
  padding: 2px;

  background: rgb(29, 28, 28);

  transition: 0.5s;

  text-decoration: none;
}
.author:visited {
  color: rgb(15, 14, 14);
  text-decoration: none;
}
.author:hover {
  background-color: #f2f2f2;
}

.result {
  font-weight: 800;

  margin-top: 25px;

  color: rgb(15, 14, 14);
}

.toRevel {
  font-size: 35px;

  color: #f2f2f2;

  transition: 0.5s;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon svg {
  margin-top: 1px;
  width: 30px;
  height: 30px;

  background-image: linear-gradient(
    to right,
    rgb(15, 14, 14, 0.2),
    rgb(45, 45, 45, 0.2)
  );

  transition: 0.3s;

  cursor: pointer;
}

[data-copy] {
  padding: 3px;

  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon [data-copy]:hover {
  fill: #0f0e0e;

  background-color: #058a12;
}

[data-clean] {
  display: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.icon [data-clean]:hover {
  fill: #0f0e0e;

  background-color: #bb1f24;
}

.notification {
  display: none;

  position: absolute;

  top: 80%;

  min-width: 300px;

  padding: 8px 20px;

  border-radius: 20px;

  font-size: 10px;

  text-align: center;
}

.content-paste {
  color: #bb1f24;
  font-weight: 800;
}

.paste-invalid {
  background-image: linear-gradient(
    to right,
    rgb(187, 31, 36, 0.2),
    rgb(187, 31, 36, 0.1)
  );
}

.paste-okay {
  font-weight: 800;

  color: #05640f;

  background-image: linear-gradient(
    to right,
    rgb(5, 138, 18, 0.2),
    rgb(5, 138, 18, 0.1)
  );
}

.paste-okay:before {
  content: "✔";

  color: #05640f;

  font-size: 15px;

  margin-right: 4px;
}

.paste-invalid:before {
  content: "❌";

  font-size: 8px;

  margin-right: 4px;
}
